<div class="header-position">
<style>
.ryan {
    color: #303030;
    text-shadow: 1px 1px 1px #919191;
}
ul { list-style: none } 
ul.ullng { padding-left: 16px; }
</style>
<nav class="site-nav ryan">
<ul>
 <li><i class=" ryan fas fa-home" ></i> 
<a  class="ryan" href="{{site.url}}/{{ page.lang }}">{{ site.t['home'][page.lang] }}</a></li>

<li><img src="https://www.disposable-mailbox.eu/locale/Language-Icons/icon128px-exported-black.jpg" width="13" height="13" alt="Sprachauswahl | language-selection | Selección de idioma | izbor jezika | taal selectie"><a  class="ryan" href="{{site.url}}/de/index.html" >DE</a></li>
{% if page.lang == "de" %}
  <ul class="ullng">
   <li><a  class="ryan" href="{{site.url}}/de/" >Startseite</a></li> 
   <li><a  class="ryan" href="{{site.url}}/de/about.html" >So funktioniert’s</a></li> 
   <li><a  class="ryan" href="{{site.url}}/de/why.html" >Warum Wegwerf-eMails?</a></li> 
   <li><a  class="ryan" href="{{site.url}}/de/FAQ.html" >FAQ</a></li> 
   <li><a  class="ryan" href="{{site.url}}/de/news.html" >News</a> </li>
  </ul>
{% endif %}
<li><img src="https://www.disposable-mailbox.eu/locale/Language-Icons/icon128px-exported-black.jpg" width="13" height="13" alt="Sprachauswahl | language-selection | Selección de idioma | izbor jezika | taal selectie">
<a  class="ryan" href="{{site.url}}/en/index.html" >EN</a></li>
{% if page.lang == "en" %}
<ul class="ullng">
    <li><a  class="ryan" href="{{site.url}}/en/"  >Home</a></li>
    <li><a  class="ryan" href="{{site.url}}/en/about.html" >How it works</a></li>
    <li><a  class="ryan" href="{{site.url}}/en/why.html" >Why temporary eMails?</a></li>
    <li><a  class="ryan" href="{{site.url}}/en/FAQ.html" >FAQ</a></li>
    <li><a  class="ryan" href="{{site.url}}/en/news.html" >News</a> </li>
</ul>
{% endif %}
<li><img src="https://www.disposable-mailbox.eu/locale/Language-Icons/icon128px-exported-black.jpg" width="13" height="13" alt="Sprachauswahl | language-selection | Selección de idioma | izbor jezika | taal selectie"><a  class="ryan" href="{{site.url}}/es/index.html" >ES</a></li>
{% if page.lang == "es" %}
<ul class="ullng">
  <li><a  class="ryan" href="{{site.url}}/es/" >Página de inicio</a></li>
  <li><a  class="ryan" href="{{site.url}}/es/about.html" >Así es como funciona</a></li>
  <li><a  class="ryan" href="{{site.url}}/es/why.html" >¿Por qué tirar los correos electrónicos?</a></li>
  <li><a  class="ryan" href="{{site.url}}/es/FAQ.html" >Preguntas más frecuentes</a></li>
  <li><a  class="ryan" href="{{site.url}}/es/news.html" >Noticias</a> </li>
</ul>
{% endif %}
<li><img src="https://www.disposable-mailbox.eu/locale/Language-Icons/icon128px-exported-black.jpg" width="13" height="13" alt="Sprachauswahl | language-selection | Selección de idioma | izbor jezika | taal selectie"><a  class="ryan" href="{{site.url}}/hr/index.html" >HR</a></li>
{% if page.lang == "hr" %}
<ul class="ullng">
  <li><a  class="ryan" href="{{site.url}}/hr/" >Početna stranica</a></li>
  <li><a  class="ryan" href="{{site.url}}/hr/about.html" >Ovako to djeluje</a></li>
  <li><a  class="ryan" href="{{site.url}}/hr/why.html" >Zašto baciti mailove?</a></li>
  <li><a  class="ryan" href="{{site.url}}/hr/FAQ.html" >Pitanja</a></li>
  <li><a  class="ryan" href="{{site.url}}/hr/news.html" >Vijesti</a></li>
</ul>
{% endif %}
<li><img src="https://www.disposable-mailbox.eu/locale/Language-Icons/icon128px-exported-black.jpg" width="13" height="13" alt="Sprachauswahl | language-selection | Selección de idioma | izbor jezika | taal selectie"><a  class="ryan" href="{{site.url}}/nl/index.html" >NL</a></li>
{% if page.lang == "nl" %}
<ul class="ullng">
   <li><a  class="ryan" href="{{site.url}}/nl/" >Startpagina</a></li>
   <li><a  class="ryan" href="{{site.url}}/nl/about.html" >Dit is hoe het werkt</a></li>
   <li><a  class="ryan" href="{{site.url}}/nl/why.html" >Waarom e-mails weggooien?</a></li>
   <li><a  class="ryan" href="{{site.url}}/nl/FAQ.html" >FAQ</a></li>
   <li><a  class="ryan" href="{{site.url}}/nl/news.html" >Nieuws</a></li>
</ul>
{% endif %}
<hr style="width: 75%" class="ryan">
 <li><i class="ryan fas fa-folder-plus" ></i> <a  class="ryan" href="https://goto.disposable-mailbox.eu/dmbcontact"         >{{ site.t['contact'][page.lang] }}</a></li> 
 <li><i class="ryan far fa-folder-open" ></i> <a  class="ryan" href="https://goto.disposable-mailbox.eu/dmbimprint"         >{{ site.t['imprint'][page.lang] }}</a></li>
 <li><i class="ryan far fa-folder-open" ></i> <a  class="ryan" href="https://goto.disposable-mailbox.eu/dmbdisclaimer"      >{{ site.t['disclaimer'][page.lang] }}</a></li>
 <li><i class="ryan far fa-folder-open" ></i> <a  class="ryan" href="https://goto.disposable-mailbox.eu/dmbprivacypolicies" >{{ site.t['privacypolicies'][page.lang] }}</a></li>
 <li><i class="ryan far fa-folder-open" ></i> <a  class="ryan" href="https://goto.disposable-mailbox.eu/dmbise"             >{{ site.t['imgse'][page.lang] }}</a></li>
</ul>
</nav>

</div>
