<div class="header-position">
<style>
.ryan {
{% if site.themecolor == "yellow" %}
    /*yellow*/
    color: #303030;
    /*text-shadow: 1px 1px 1px #919191;*/
{% endif %}{% if site.themecolor == "red" %}
    /*red*/
    color: #FFF;
{% endif %}{% if site.themecolor == "blue" %}
    /*blue*/
    color: #FFF;
{% endif %}{% if site.themecolor == "blue2" %}
    /*blue2*/
    color: #FFF;
{% endif %}{% if site.themecolor == "purple" %}
    /*purple*/
    color: #FFF;
{% endif %}{% if site.themecolor == "grey" %}
    /*grey*/
    color: #FFF;
{% endif %}{% if site.themecolor == "green" %}
    /*green*/
    color: #FFF;
{% endif %}{% if site.themecolor == "orange" %}
    /*orange*/
    color: #FFF;
{% endif %}
}
ul { list-style: none } 
ul.ullng { padding-left: 16px; }
</style>
<nav class="site-nav ryan">
<ul>

<li><i class=" ryan fas fa-home" ></i> 
<a class="ryan" href="{{site.url}}" lang="/{{ page.lang }}">{{ site.t['home'][page.lang] }}</a>
</li>

</ul>
</nav>

</div>
