<div class="header-position">

<!--<h1 class="logo">{{ page.title }}</h1>-->
<nav class="site-nav">
<ul>
 <li><a href="/"        style="text-decoration:none; color:#fff">Home</a></li>
 <li><a href="https://goto.disposable-mailbox.eu/dmbcontact"       style="text-decoration:none; color:#fff">Kontakt</a></li>
 <li><a href="https://goto.disposable-mailbox.eu/dmbimprint"       style="text-decoration:none; color:#fff">Impressum</a></li>
 <li><a href="https://goto.disposable-mailbox.eu/dmbdisclaimer"       style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
 <li><a href="https://goto.disposable-mailbox.eu/dmbprivacypolicies"       style="text-decoration:none; color:#fff">Datenschutz</a></li>
 <li><a href="https://goto.disposable-mailbox.eu/dmbise"       style="text-decoration:none; color:#fff">Quellennachweise</a></li>
 </ul>
</nav>

</div>
